<form method="post" class="create-form form-horizontal" id="asset-create">
	<div class="form-group">
		<label class="col-sm-2 control-label">SN:</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="sn" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">主机名:</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="hostname" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">IP:</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="ip" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">OS:</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="os" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">使用者:</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="admin" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">CPU:</label>
		<div class="col-sm-10">
		<input type="text" data-slider-min=1 data-slider-max=32
		data-slider-step=1 data-slider-value=1 class="form-control" name="cpu" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">内存:</label>
		<div class="col-sm-10">
		<input type="text" data-slider-min=4 data-slider-max=128
		data-slider-step=2 data-slider-value=4 class="form-control" name="ram" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">磁盘:</label>
		<div class="col-sm-10">
		<input type="text" data-slider-min=100 data-slider-max=200
		data-slider-step=10 data-slider-value=10 class="form-control" name="disk" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">业务:</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="business" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">机房:</label>
		<div class="col-sm-10">
		<select class="form-control" name="machine_room_id">
			{% for idc in idcs %}
			<option value="{{ idc['id'] }}">{{ idc['name'] }}</option>
			{% endfor %}
		</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">上架时间:</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="time_on_shelves" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">过保时间:</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="over_guaranteed_date" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label"> 厂商:</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="vendor" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">型号:</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" name="model" value=""/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">状态:</label>
		<div class="col-sm-10">
		<select class="form-control" name="status">
		<option value="0">使用</option>
		<option value="1">维护</option>
		</select>
		</div>
	</div>
</form>

<script>
	$('input[name=cpu]').slider({
		formatter: function(value) {
			return 'Cpu: ' + value;}
	});
	$('input[name=ram]').slider({
		formatter: function(value) {
			return 'Ram: ' + value;}
	});
	$('input[name=disk]').slider({
		formatter: function(value) {
			return 'Disk: ' + value;}
	});
	$('input[name=time_on_shelves]').datetimepicker({
		language: 'zh-CN',
		format: 'yyyy-mm-dd',
		minView:2
	});
	$('input[name=over_guaranteed_date]').datetimepicker({
		language: 'zh-CN',
		format: 'yyyy-mm-dd',
		minView:2
	});
	
	$('#asset-create').bootstrapValidator({
		message: '值不能为空',
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		fields: {
			sn: {
				message: 'SN is not valid',
				validators: {
					notEmpty: {
						message: 'SN不能为空'
					}
				}
			},
			hostname: {
				message: 'hostname is not valid',
				validators: {
					notEmpty: {
						message: '主机名不能为空'
					}
				}
			},
			ip: {
				message: 'ip is not valid',
				validators: {
					notEmpty: {
						message: 'ip不能为空'
					}
				}
			},
			os: {
				message: 'os is not valid',
				validators: {
					notEmpty: {
						message: 'os不能为空'
					}
				}
			},	
			time_on_shelves: {
				message: 'time_on_shelves is not valid',
				validators: {
					notEmpty: {
						message: '上架时间不能为空'
					}
				}
			},
			over_guaranteed_date: {
				message: 'over_guaranteed_date is not valid',
				validators: {
					notEmpty: {
						message: '过保时间不能为空'
					}
				}
			}		
		}
	});
</script>