<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/idc/add" method="POST">
        {% if  error %}
        <span  style="color: red">{{error}} </span>
        {% endif%}
       机房名<input id="name" type="text" name="name" value="{{name}}"/>
       地址<input id="addr" type="text" name="addr" value="{{addr}}"/>
       地址段<input id="ip_ranges" type="text" name="ip_ranges" value="{{ip_ranges}}"/>
       <input type="submit"  value="添加机房"/>
</form>


</body>
</html>