<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>修改用户密码</title>
    </head>
    <body>
        <form action="/change/password/" method="post">
            {% if error %}
                <span style="color:red">{{error}}</span>
            {% endif %}
            <br /><br />
            <div>
                <input type="hidden" name="id" value="{{id}}"/>
            </div>
            <div>
                <label>原密码:</label><input type="password" name="old_password" value="{{ old_password }}"/>
            </div>
            <div>
                <label>新密码:</label><input type="password" name="new1_password" value="{{ new1_password }}"/>
            </div>
              <div>
                <label>重复密码:</label><input type="password" name="new2_password" value="{{ new2_password }}"/>
            </div>
            <input type="submit" value="修改"/>
        </form>
    </body>
</html>