<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>

        <div class="my">
            {% if error %}
                <p>{{ error }}</p>
            {% else %}
            <p>My name is Shawn.</p>
            {% endif %}
        </div>

        <div class="form">
            <form action="/login/" method="post">
                <label for="username">用户名：</label><input type="text" name="username" value="{{ username }}">
                <label for="passwd">密码：</label><input type="text" name="passwd" value="{{ passwd }}">
                <input type="submit" name="login" value="登陆">
            </form>

        </div>
    </body>
</html>
