<!DOCTYPE html>
<html lang="zh_CN">
    <head>
        <meta charset="UTF-8">
        <title>Log</title>
    </head>
    <body>

        <h3>IP、URL、CODE、COUNT</h3>
        <p>
            <a href="/logs/?topn=30">TOP 30</a>
            <a href="/logs/?topn=50">TOP 50</a>
            <a href="/logs/?topn=100">TOP 100</a>
        </p>

        <table border="1">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>URL</th>
                    <th>CODE</th>
                    <th>COUNT</th>
                </tr>
            </thead>
            <tbody>
                {% for i in content %}
                    <tr>
                        <td>{{i[0][0]}}</td>
                        <td>{{i[0][1]}}</td>
                        <td>{{i[0][1]}}</td>
                        <td>{{i[1]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
