<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<title>用户信息</title>
</head>
<body>
    <div class="cnt">
        <h3>SHOW USERS</h3>
        <p>
            <a href="/users/add/">ADD</a>
            <a href="/logs/">LOGS</a>
            <a href="/machine/">机房</a>
        </p>
        <p>
            {% if info %}
                {{ info }}
            {% endif %}
        </p>

		<table border="1">
			<thead>
				<tr>
					<th>编号</th>
					<th>用户名</th>
					<th>密码</th>
					<th>年龄</th>
					<th>编辑</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user['id']}}</td>
						<td>{{user["name"]}}</td>
						<td>{{user["password"]}}</td>
						<td>{{ user['age'] }}</td>
						<td><a href="/users/view/?id={{user['id']}}">编辑</a>
							<a href="/users/remove/?id={{user['id']}}">删除</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </div>
</body>
</html>
