<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>机房添加</title>
</head>

<body>
{% if error  %}
 <span style="color:red">{{error}}</span>
{% endif %}
<form action="/room_add/" method="post">
<table  align="center" border="1" >
  <!--tr style="display:none" -->
  <tr>
    <td width="80">机房名称：</td>
    <td><input type="text"  name="roomname"  value="{{roomname}}"/></td>
  </tr>
  <tr>  
    <td>地址：</td>
    <td>  <input type="text"  name="addr"  value="{{addr}}"/></td>
  </tr>
  <tr>  
    <td>IP范围</td>
    <td><input type="text"  name="ip_ranges"  value="{{ip_ranges}}"/></td>
  </tr>
</table>
<br  />
<table  align="center"  >
      <tr align="center">
       <td><input type="submit" value="提交"  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 取消"  onclick="javascript:history.back(-1)" /></td>
      </tr>
</table>
</form>
</body>
</html>
