<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<title>Log</title>
    <style>
        .cnt li {
            line-height: 22px;
        }

        .cnt li span {
            margin-left: 20px;
        }

        .cnt li span.st {
            color: red;
        }
    </style>
</head>
<body>
    <div class="cnt">
        <h3>IP、URL、CODE、COUNT</h3>
        <p>
            <a href="/logs/?topn=30">TOP 30</a>
            <a href="/logs/?topn=50">TOP 50</a>
            <a href="/logs/?topn=100">TOP 100</a>
        </p>
        <ol>
            {% for i in content %}
            <li><span>{{i[0][0]}}</span><span>{{i[0][1]}}</span><span>{{i[0][2]}}</span><span class="st">{{i[1]}}</span></li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>
