<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<title>USERS</title>
    <style>
        .cnt li {
            line-height: 22px;
            list-style: none;
        }

        .cnt li span {
            display: inline-block;
            width: 75px;
            margin-left: 10px;
        }

        .cnt li span.id {
            width: 20px;
        }


        .cnt li span.st {
            color: red;
        }
    </style>
</head>
<body>
    <div class="cnt">
        <h3>SHOW USERS</h3>
        <p>
            <a href="/users/add/">ADD</a>
            <a href="/logs/">LOGS</a>
        </p>
        <p>
            {% if info %}
                {{ info }}
            {% endif %}
        </p>
        <ul>
            {% for user in users %}
            <li><span class="id">{{user['id']}}</span><span>{{user["name"]}}</span><span>{{user["password"]}}</span>
                <span><a href="/users/view/?id={{user['id']}}">编辑</a></span><span><a href="/users/remove/?id={{user['id']}}">删除</a></span></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
