<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
</head>

<body style="padding:10px 800px 20px 10px;">
<div>
    <form class="bs-example bs-example-form" role="form" action="/change/" method="post">
        <div>
            {% if error %}
                <p class="bg-danger">{{ error }}</p>
            {% endif %}
        </div>
        <br />
        <input type="hidden" class="form-control" placeholder="" name="username" value="{{ username }}">
        <br />
        <div class="input-group">
            <span class="input-group-addon">原密码</span>
            <input type="password" class="form-control" placeholder="" name="password1" value="{{ password1 }}">
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon">新密码</span>
            <input type="password" class="form-control" placeholder="" name="password2" value="{{ password2 }}">
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon">确认密码</span>
            <input type="password" class="form-control" placeholder="" name="password3" value="{{ password3 }}">
        </div>
        <br />
        <button class="btn btn-default btn-primary" type="submit">修改</button>
    </form>
</div>
</body>